.Count {
  background-color: black;
  border: 1px solid aqua;
  padding: 10px;
  color: mediumaquamarine;
  border-radius: 10px;
  vertical-align: top

}
.Button{
  border: 4px solid hsl(5, 40%, 70%);
  padding: 10px;
  border-radius: 10px;
  background-color: aqua;
  margin-right: 40px;
  font-size: 20px;
}
.Button:active { /* Добавляем псевдокласс :active */
  box-shadow: 0 0 hsl(0, 98%, 49%); /* Уменьшаем тень */
  border: 3px solid hsl(5, 40%, 70%); /* Уменьшаем толщину рамки */
  background: linear-gradient(top, hsl(0, 90%, 90%), hsl(0, 100%, 50%) 90%);
  background: -webkit-linear-gradient(top, hsl(0, 90%, 90%), hsl(0, 100%, 50%) 90%); /* Изменяем значения линейного градиента */
}
.Button:disabled { /* Добавляем псевдокласс :active */
  box-shadow: 0 0 hsl(178, 98%, 49%); /* Уменьшаем тень */
  border: 3px solid hsl(5, 40%, 70%); /* Уменьшаем толщину рамки */
  /*background: linear-gradient(top, hsl(0, 90%, 90%), hsl(0, 100%, 50%) 90%);*/
  /*background: -webkit-linear-gradient(top, hsl(0, 90%, 90%), hsl(0, 100%, 50%) 90%); !* Изменяем значения линейного градиента *!*/
}
.Input{
  border: 1px solid aqua;
  padding: 20px;
  border-radius: 10px;
  background-color: black;
  color: aqua;
  font-size: 30px;
  height: 70px;
  text-align: center;
  width: 370px;
}
.InputOff{
  border: 1px solid red;
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  color: red;
  font-size: 40px;
  text-align: center;
  font-weight: 900;
  width: 390px;
  height: 90px
}
.ButtonBorder{
  display:inline-block;
  border: 1px solid aqua;
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  text-align: center;
  width: 390px;
}
.ButtonLi{
  display:inline-block;
  width: 100px;
  padding: 2px;
  background-color: black;

}