.Set {
    background-color: black;
    border: 1px solid red;
    padding: 10px;
    color: mediumaquamarine;
    border-radius: 10px;
    vertical-align: top

}
.Button {
    border: 1px solid red;
    padding: 10px;
    border-radius: 10px;
    background-color: aqua;
    font-size: 20px;

}
.Input {
    border: 1px solid red;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: aqua;
    text-align: center;
    font-size: 20px
}

.ButtonBorder {
    border: 1px solid red;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    text-align: center;
}


